

.aboutContainer {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    gap: 50px;
  }
  
  .aboutContent {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .aboutMe{
    width: 50%;

backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
  }
  .skillsContent{
    width: 50%;
    display: flex;
    flex-direction: column;
   gap: 30px;


  }
  
  .aboutContent p {
    text-align: justify;
    font-size: 18px;
    color: var(--light-color);
    line-height: 1.3;
  }
  
  .text-float {
    position: relative;
  }
  
  .skillsContent h2 {
    font-size: 20px;
    color: #64ffdbcc;
  }
  
  .skill {
    padding: 10px 20px;
    font-size: 16px;
    background: rgba(153, 153, 153, 0.41);
    border-radius: 5px;
    font-weight: 600;
    color: #c1cced;
    list-style-type: none;
    white-space: nowrap;
    backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
  }
  
  .allSkill {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
  }
  
  .skillsContent h3 {
    font-size: 16px;
    color: #64ffdbcc;
  }
  
  @media only screen and (max-width: 1075px) {
    .skill {
      padding: 10px 15px;
    }
    
  }
  @media only screen and (max-width: 768px){
    .aboutContainer {
      width: 100%;
    }
    .aboutContent {
      flex-direction: column;
    }
    .aboutMe{
      width: 100%;
    }
    .skillsContent{
      width: 100%;
    }

  }

  @media only screen and (max-width: 550px){
    
.aboutContainer {
  width: 100%;
  gap: 30px;
}
    .aboutContent p {
      font-size: 16px;
      line-height: 1.3;
      text-align: left;
    }
    .skillsContent h2 {
      font-size: 18px;
      font-weight: 600;
    }
    .skillsContent h3 {
      font-size: 14px;
      font-weight: 600;
    }
    
    .skill {
      padding: 8px 10px;
      font-size: 14px;
      font-weight: 500;
    }
    .allSkill {
      margin-top: 15px;
    }
  }